<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="pictureForm" (ngSubmit)="f.pictureForm.valid && submitFile()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="title" class="col-md-2">Title: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="picture.title" #title="ngModel" required placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-2">Description: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="description" id="description" [(ngModel)]="picture.description" #description="ngModel" required placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" (change)="onAddFile($event)" formnovalidate>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" (click)="submitFile()" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>